name: ⚡ RNA-seq Pipeline CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Conda environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: environment.yml
          activate-environment: rna_realtime_env
          auto-activate-base: false
          auto-update-conda: true

      - name: Activate environment and install Nextflow manually
        shell: bash -l {0}
        run: |
          echo "⚙️  Activating conda environment..."
          conda activate rna_realtime_env
          wget -qO- https://get.nextflow.io | bash
          sudo mv nextflow /usr/local/bin/
          nextflow -version
